i.icon {
	font-size: 2em;
}

.main.container{
	margin-top: 7em;
}

#delete {
	display: inline;
}

#edit {
	width: 6.7em;
}

.register {
	margin-top: 10vh;
}

.register h1{
	text-align: center;
}

#menu {
	width: 100%;
}

.img-container > img {
    width: 100%;
    height: auto;
    border-radius: 30%;
}

.regular{
	color: rgba(128, 255, 128, 0.3);
}

i.good:hover{
	color: rgba(128, 255, 128, 1.0);
}

i.bad:hover{
	color: red;
}

.hidden{
	display: none;
}

.picture-container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label{
	font-size: 3rem;
	margin: 6vw auto 0 auto;
	width: 100%;
	display: block;
	padding: 0;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: red;
}

form button{
	border: none;
	background-color: inherit;
}

#unique{
	position: absolute;
	top: 35vh;
	left: 0;
	font-size: 1.5rem;
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.5);
}

#unique div{
	display: inline-block;
	width: 45%;
	text-align: left;
	margin: 0 0 2vh 0;
}

#unique label{
	display: inline-block;
	width: 45%;
	text-align: right;
	margin: 0 0 2vh 0;
}

ul {
	list-style-type: none;
  }