/*----------------------------------------------------------------------------------------------*/

/*                    DEFAULT                */

/*----------------------------------------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

button{
	margin: 0;
	padding: 0;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}
ul {
	list-style-type: none;
}



/*----------------------------------------------------------------------------------------------*/

/*                    GRID                   */

/*----------------------------------------------------------------------------------------------*/
.my-container{
	max-width: 1200px;
	margin: auto;
}

/* Rows */
.row{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
}

/* Collumns */
/*         width */
.width-3{
	width: 25%;
}
.width-6{
	width: 50%;
}
.width-9{
	width: 75%;
}
.width-12{
	width: 100%;
}
/*         height */
.height-3{
	height: 25%;
}
.height-12{
	height: 100%;
}

/* Position */
.center-x{
	display: flex;
	justify-content: center;
}
.right-x{
	display: flex;
	justify-content: flex-end;
}
.center-y{
	display: flex;
	align-items: center;
}




/*----------------------------------------------------------------------------------------------*/

/*                    REUSABLE               */

/*----------------------------------------------------------------------------------------------*/

/* General */
.hidden{
	display: none;
}
.rounded{
	border-radius: 20px;
}
.left-rounded{
	border-radius: 10px 0 0 10px!important;
}
.right-rounded{
	border-radius: 0 10px 10px 0!important;
}

/* Content */
.main-third{
	width: 60%;
	max-width: 1200px!important;
	margin: 15vh auto 5vh auto;
	height: 50vh;
}
.div-inline{
	width: 85%; 
	display:inline-block;
}

/* Images */
.img-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
.img-container img{
	width: 100%; 
    max-height: 100%;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: red;
}

/* Forms */
.overlay{
	position: absolute;
	display: inline-block;
	width: inherit;
	background-color: rgba(190, 190, 190, 0.5);
}
.inline-form{
	display: inline-block;
}

/* Icons */
i.grn{
	color: rgba(128, 255, 128, 0.3);
}
i.grn:hover{
	color: rgba(128, 255, 128, 1.0);
}
i.rd{
	color: rgba(219, 40, 40, 0.3)
}
i.rd:hover{
	color: rgba(219, 40, 40, 1.0);
}
i.go{
	color: #fff!important;
}
i.go:hover{
	color: rgb(235, 76, 145)!important;
}

/* Buttons */
.btn-purple{
	background-color: #a333c8;
	border: 1px solid #a333c8;
}
.btn-red{
	background-color: #db2828;
	border: 1px solid rgb(219, 40, 40);
}
.btn-yellow{
	background-color: #fbbd08;
	border: 1px solid #fbbd08;
}
.btn-teal{
	background-color: #00b5ad;
	border: 1px solid #00b5ad;
}

/*----------------------------------------------------------------------------------------------*/

/*                    header.ejs               */

/*----------------------------------------------------------------------------------------------*/
.left-menu{
	display: flex;
	flex: 0 1 50%;
}

#menu{
	width: 100%;
	border-radius: 0;
	padding: 0.5vh;
	margin-bottom: 0;
}
#menu .pointing.menu{
	width: 80%;
	margin: auto;
}
#menu .header.item{
	font-size: 2rem;
	padding: 1vh 2vw 1vh 0;
}

#menu .username{
	height: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu .username a{
	font-size: 1.25rem;
}

.left-menu-item{
	display: flex;
	width: 100%;
}
.left-menu-item a{
	display: inline-block;
	width: auto;
	margin-right: 1vw;
	margin-bottom: 1vh !important;
}
.right.menu a{
	margin: 0.5px 0 !important;
}

/*----------------------------------------------------------------------------------------------*/

/*                showUser.ejs               */

/*----------------------------------------------------------------------------------------------*/


/*---------------Main Content---------------*/

/* General */
.icon-inside{
	font-size: 2rem!important;
}

/* main Image */
#form-show-user{
	width: 15%;
	margin-top: 10vh;
}
#form-show-user .row{
	height: 7vh;
}
.column-6 label{
	margin-top: 1vh;
}

#big-Image{
	display: none;
}

/* main Buttons */
.user-buttons{
	padding: 25px;
	padding-left: 30px;
}
.user-buttons .icon-centered{
	margin-top: 4vh;
	font-size: 3.5rem!important;
}
.user-buttons span{
	font-size: 3rem;
}
#fixed-pointing-label{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 1.5rem!important;
	text-align: center;
}
#fixed-pointing-label i{
	margin: 0;
	padding: 0;
	font-size: 4rem!important;
	margin-top: 1.5vh;
}


/*---------------bigBio---------------*/

textarea{
	width: 100%;
	height: 100%;
    font-family : Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
form .btn-check{
	position: relative; 
	left : 90%;
	top : -40px; 
	background-color : inherit; 
	border : 0;
}



/*---------------bigLinks---------------*/

#form-big-links .div-inline div:nth-of-type(1){
	width: 100%; 
	display:inline-block;
	margin-right: 1vw;
}
#form-big-links .div-inline div:nth-of-type(2){
	display:inline-block;
	width: 25%;
	position: relative; 
	top: -3.5vh; 
	left: 52.5vw;
}
#form-big-links .div-inline i{
	font-size: 3rem!important;
}

#form-big-links .div-links{
	margin: 0;
	height: 1rem;
}

#form-big-links .div-removeIcon{
	display : inline;
    position : absolute;
    left : 53vw;
    margin-top : 1vh;
}

/*---------------smallPicture---------------*/

#div-small-picture .icon-container{
	margin-bottom: 2.5vh;
}



/*---------------smallBio---------------*/

#form-small-textarea button{
	position: absolute; 
	left : 90%; 
	top : 15vh; 		
	background-color : 
	inherit; 
	border : 0"
}



/*---------------smallLinks---------------*/

#form-small-links .icon-container{
	display: inline-block; 
	width: 10%;
	line-height: 1.8rem;
	font-size: 1rem!important;
	vertical-align: middle;
}

#form-small-links .icon-container i{
	margin-left: 50%;
}

#form-button{
	margin-top: 3vh;
}

#form-small-links .div-links{
	margin: 0;
	height: 1rem;
}

#form-small-links .div-removeIcon{
	display : inline;
    position : absolute;
    left : 65vw;
    margin-top : 1vh;
}

/*----------------------------------------------------------------------------------------------*/

/*                blogs.ejs               */

/*----------------------------------------------------------------------------------------------*/

/*--------------- Bar ---------------*/

.header{
	margin: 0 auto 5vh auto;
}
.header .menu{
	margin: 0 !important;
}
.menu-box{
	display: flex;
	flex: 0 1 30%;
}
.blog-menu-dropdown{
	padding-right: 0.5vw !important;
}

.blog-menu-icon{
	margin-top: 1vh !important;
	font-size: 1.5em !important;
}
.blog-menu-btn{
	margin-top: 0.25vh !important;
}



/*--------------- Content ---------------*/
.page{
	padding: 10vh;
	height: 100vh;
}
.my-content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.content-item{
	position: relative;
}

.box{
	flex: 0 1 45%;
	display: flex;
	overflow: hidden;
	height: 300px;
	border-radius: 10px;
	margin: 0;
}

.box .image-container{
	flex: 1;
}
.box .image{
	height: 100%;
	width: 100%;
}
.box img{
	height: 100%;
	width: 100%;
	display: block;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 1;
}

.box .aside-container{
	display: flex;
	flex: 0 0 10%;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,0.95) 0%, rgba(148,187,233,0.95) 100%);
}

.content-container{
	position: absolute;
	top: 0;
	left: 40%;
	/* display: flex; */
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	padding: 20px;
	color: #fff;
	font-size: 1.25rem;
	line-height: 1.5rem;
	height: 100%;
	margin-left: auto;
	display: none;
}

.content-container .title{
	font-size: 2.25rem;
	margin-top: 1vh;
}

.content-container .meta{
	text-align: right;
	margin-bottom: 1vh;
	font-size: 0.8rem;
}

.content-container .description{
	margin-bottom: auto;
	text-align: justify;
}

.content-container .author{
	text-align: right;
	margin-bottom: 10px;
}

.content-container a{
	color: #fff;
}

.arrow{
	position: absolute;
	top: 45%;
	left: 89%;
}

.arrow i{
	font-size: 3.5rem!important;
}


/*----------------------------------------------------------------------------------------------*/

/*                    show.ejs               */

/*----------------------------------------------------------------------------------------------*/
#show-blog {
	margin-top: -12.5vh;
}

#show-blog .title{
	text-align: center;
	letter-spacing: 2.5px;
	margin-bottom: 0!important;
}

#show-blog.segment{
	border: none!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}

#show-blog .aside{
	text-align: right;
	font-size: 0.9rem;
}

#show-blog p{
	line-height: 1.7rem;
	word-spacing: 2px;
}

#show-blog div.attached{
	margin-bottom: 2.5vh;
}

#show-blog button.wide{
	width: 7rem!important;
}

.show-author{
	position: sticky;
	top: 23.15vh;
	left: 10vh;
	width: 200px;
}
.show-author--img {
	display: flex;
	justify-content: center;
}
.show-author--img img{
	border-radius: 50%;
}
.show-author--name{
	text-align: center;
}
.show-author--interact{
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

.show-author--interact i:hover{
	color: rgb(235, 76, 145)!important;
}

.show-comment{
	display: flex;
	width: 100%;
}

.show-comment p{
	display: inline-block;
	width: 95%;
}

.show-comment--interact{
	width: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.show-comment--interact i{
	font-size: 1.25rem!important;
}

.show-comment--buttons i{
	font-size: 1.25rem!important;
}

i.like-comment:hover{
	color: blue;
}

i.comment-edit:hover{
	color: green;
}

i.comment-delete:hover{
	color: red;
}